.programWindow.AboutClock,.programWindow.AboutCalculator, .programWindow.AboutProgramManager{
    width: 450px;
    height: 350px;
    box-shadow: none;
    --navBarHeight: 32px;

    .resizingElements{
        visibility: hidden;
    }
}

.programWindow.AboutCalculator{
    width: 500px;
}

.programWindow.AboutProgramManager{
    width: 550px;

    .aboutContainer{
        img{
            height: 70px;
        }
    }
}

    .aboutContainer{
        display: flex;
        flex-direction: row;
        position: relative;

        img{
            margin: 20px;
            height: 36px;
        }
    
        .info{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding: 20px;
            padding-left: 0;

            .mainInfo{
                margin-bottom: 40px;
            }

            .licence{
                padding-bottom: 20px;
                border-bottom: 2px solid black;
            }

            .serialNumber{
                margin-top: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid black;
            }

            .sysInfo{
                margin-top: 20px;
                
                p{
                    text-transform: capitalize;
                }
            }
        }

        button{
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px 20px 0 0;
            text-align: center;
            padding: 5px 30px;
        }
    }
