@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --borderSize: 15px;
}

@mixin centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: $pageBgColor;
  font-family: sans-serif;
  
  @include centerItems();
}

.crt{
  width: 800px;
  height: 600px;
  background-color: $crtBgColor;
  border-radius: var(--borderSize);
  
  @include centerItems();
  

  .wrapper{
    width: calc(100% - 2*var(--borderSize));
    height: calc(100% - 4*var(--borderSize));
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    user-select: none;

    .appIcon{
      width: 90px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      display: inline-block;

      &:hover{
        cursor: pointer;
      }

      &:hover>p{
        background-color: $windowsColor;
          color: white;
      }

      img{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 40%;
      }

      p{
        position: absolute;
        margin-top: 5px;
        padding: 0 10%;
        font-size: 15px;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }
}