.programWindow.CalculatorHelp{
    width: 400px;
    height: 400px;
    min-height: 350px;
    min-width: 400px;

    .helpContainer{
        position: absolute;
        top: 31px;
        left: 1px;
        z-index: 11;
        height: calc(100% - 30px);
        width: calc(100% - 2px);
    
        .helpNavigation{
            width: 100%;
            border-bottom: 1px solid black;
        
            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
        
                li{
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;
        
                    &:hover{
                        color: white;
                        background-color: #0800b0;
                        cursor: pointer;
                    }
                }
            }
        }
        .functionButtons{
            width: 100%;
            background-color: darkgrey;
            border-bottom: 1px solid black;
    
            button{
                height: 30px;
                padding: 0 5px;
                font-size: 15px;
            }
        }
    
        .mainContent{
            overflow: auto;
            width: 100%;
            height: calc(100% - 62px);
            padding: 25px 15px;

            p{
                padding: 5px 0;
            }

            .HowTo,.Commands{

                h2{
                    margin: 20px 0 0;
                }
                p{
                    padding: 3px 0;
                    color: #00A854;
                    text-decoration: underline;
                }
            }
        }
    }
}
