.programWindow{
    position: absolute;
    top: 100px;
    left: 50px;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 0 3px #ccc, 0 0 0 4px #000;
    border-radius: 1px;

    .container{
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid black;
        display: flex;
        flex-direction: column;       
    }
}