.appList{
    height: calc(100% - 30px);
    width: 100%;
    display: flex;
    flex-direction: row;
    display: inline-block;
    overflow: hidden;
    overflow-y: auto;
    .appIcon{
        margin: 15px 0;
    }
}