.programWindow{
    position: absolute;
    // min-height: 200px;
    // min-width: 250px;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 0 3px #ccc, 0 0 0 4px #000;
    border-radius: 1px;
    z-index: 6;

    .resizingElements{
        position: absolute;
        width: 100%;
        height: 100%;
        list-style: none;
        
        .direction{
            position: absolute;
            width: 10px;
            height: 10px;
        }

        --position: -8px;
        --spaceFromLeft: 1px;
        --barWidth: calc(100% - 2*var(--spaceFromLeft));

        .ne{
            top: var(--position);
            right: var(--position);
            cursor: ne-resize;
        }

        .se{
            bottom: var(--position);
            right: var(--position);
            cursor: se-resize;
        }

        .sw{
            bottom: var(--position);
            left: var(--position);
            cursor: sw-resize;
        }

        .nw{
            top: var(--position);
            left: var(--position);
            cursor: nw-resize;
        }

        .n{
            top: var(--position);
            left: var(--spaceFromLeft);
            cursor: n-resize;
            width: var(--barWidth)
        }

        .s{
            bottom: var(--position);
            left: var(--spaceFromLeft);
            cursor: s-resize;
            width: var(--barWidth)
        }

        .e{
            right: var(--position);
            top: var(--spaceFromLeft);
            cursor: e-resize;
            height: var(--barWidth)
        }

        .w{
            left: var(--position);
            top: var(--spaceFromLeft);
            cursor: w-resize;
            height: var(--barWidth)
        }


    }

    .container{
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid black;
        display: flex;
        flex-direction: column;       
    }
}