@import './variables.scss';

.fontContainer{
        @include SmallAppWindowSize();
        @include FlexColumn();
        position: relative;
        margin: 20px;

        .chooseFont{
            margin-left: 20px;
            @include FlexColumn();
    
            input{
                padding: 3px 5px;
                border: 1px solid black;
                outline: none;
                width: 210px;
                font-size: 16px;
            }
    
            .fontList{
                overflow: hidden;
                overflow-y: auto;
                width: 200px;
                height: 100px;
                margin-left: 10px;
                list-style: none;
                border: 1px solid black;
                border-top: 0;
    
                li{
                    padding: 2px 5px;
    
                    &:hover{
                        @include WindowsHover();
                    }
                }
            }
        }
    
        .fontButtons{
            position: absolute;
            top: 0;
            right: 0;
            margin: 18px 20px;
            @include FlexColumn();

            button{
                text-align: center;
                padding: 5px 30px;
            }

            button:last-child{
                margin-top: 20px;
            }
        }
    }

    .sample {
        box-sizing: border-box;
        width: 100%;
        height: 150px;
        @include FlexItemsCenter();
        justify-content: center;

        .samplePlace {
            width: 90%;
            height: 110px;
            box-sizing: border-box;
            border: 1px solid black;
            position: relative;
            @include FlexItemsCenter();
            justify-content: center;

            .sampleTitle {
                position: absolute;
                top: -10px;
                left: 15px;
                background-color: white;
                padding: 5px;
            }

            .sampleTxt {
                font-size: 40px;
            }
        }
    }
